.navbar-logo-container {
  position: fixed;
  top: 6%;
  left: 4%;
  z-index: 1001;
}

.navbar-logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.navbar-menu {
  position: fixed;
  top: 7%;
  right: 4%;
  z-index: 1001;
  display: flex;
  gap: 10px;
  flex-direction: column;
    align-items: end;
}

.navbar-link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: black;
}

.navbar {
  position: fixed;
  top: 30%;
  left: 3%;
  height: 100vh;
  width: auto;
  z-index: 1000;
  background: transparent;
  padding: 40px 20px;
  display: flex;
  align-items: center;
}

.navbar-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.social-icon {
  height: 30px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  filter: brightness(0);
}
